<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="../static/ccs/style.css">
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <div class="header">您已退出</div>
            <div class="form-wrapper">
                <div class="msg">                
                    <a href="/login">登录</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
