<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
    <form action="/register/" method="post">
        <p>用户名：{{ form.username(placeholder='可包含中文、英文字母、数字') }}</p>
        <p>密码：{{ form.password(placeholder='36个字符之内') }}</p>
        <p>确认密码：{{ form.confirm_password}}</p>
        <p>{{ form.csrf_token }}</p>

        <p><input type="submit" value="注册"></p>
    </form>
</body>
</html>
